<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    <img src="/images/profile.png" alt="Cansu Malak">
  </div>

  <div class="author__content">
    <h3 class="author__name">Cansu Malak</h3>
    <p class="author__bio">Psychology & Sociology Student</p>
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      <li><a href="mailto:cansu.malak.cm@gmail.com"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://x.com/cansumalak_" target="_blank"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      <li><a href="https://www.linkedin.com/in/cansu-malak/?originalSubdomain=kr" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      <li><a href="https://scholar.google.com/citations?user=xedYRuQAAAAJ&hl=tr" target="_blank"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      <li><a href="https://orcid.org/0000-0001-6621-0068" target="_blank"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
    </ul>
  </div>
</div>
