---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

    <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Navigasyonu buraya ekleyebilirsiniz -->
    <header>
      <nav>
        <a href="/" class="dark-pink">Cansu Malak</a>
        <a href="/research/" class="light-pink">Research</a>
        <a href="/scientificoutput/" class="lightest-pink">Scientific Output</a>
        <a href="/gallery/" class="lightest-blue">Gallery</a>
        <a href="/cv/" class="light-blue">CV</a>
        <a href="/news/" class="blue">News</a>
      </nav>
    </header>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
